# Backed
Backend/music_meet/.idea
.idea
.vscode
.DS_Store
Backend/music_meet/src/main/resources/
Backend/music_meet/build/lib/profileimage/
Backend/music_meet/build/lib/temp/

# Front 
# dependencies
Frontend/node_modules
Frontend/.DS_Store
Frontend/build

# Mobile
MusicMeet_Mobile/build
MusicMeet_Mobile/.idea
.DS_Store
Backend/.DS_Store
Backend/music_meet/.DS_Store
