# Backed
Backend/music_meet/.idea
.idea
.vscode
Backend/music_meet/src/main/resources/static/profileimage/

# Front 
# dependencies
Frontend/node_modules
Frontend/.DS_Store
Frontend/build

# Mobile
MusicMeet_Mobile/build
MusicMeet_Mobile/.idea