<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.musicmeet_intelij">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_background"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/Theme.MusicMeet_InteliJ">
        <activity
                android:name=".Music_Main_Activity"
                android:exported="true"/>
        <activity
                android:name=".Members_Activity"
                android:exported="true"/>


        <activity
                android:name=".Login_Activity"
                android:exported="true"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

    </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>